/* locomotive lgane k liye ye zroori h ki main ko ya to sirf height ya width de skte h  */
/* locomotive lgane k liye height aur width dono main ko nhi de skte */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body{
    height: 100%;
    width: 100%;
}

#main{
    position: relative;
    overflow: hidden;
}

#page{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

#page1{
    height: 100vh;
    width: 100vw;
    background-color: rgb(92, 18, 18);
}

